*{
    box-sizing: border-box;
}

section{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap; /* wrap cuando no tieneen sitio se bajan */
    background-color: burlywood;
}

body{
    display: flex; /* [ELEMENTOS FLEXIBLES (NO FLOATS) CON LOS QUE TIENE DENTRO] */ 
    background-color: brown;
}
div{
    font-size: 3rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: salmon;
}
div:nth-last-of-type(3){
    font-size: 5rem;
}