*{
    box-sizing: border-box;
}

$color_main: bisque;
/* $color_back: brown; */

body{
   background-color: $color_main;
}
.navegador {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: midnightblue;
        li {
            float: left;
            a{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            }
        }
        a:hover {
        background-color: crimson;
        }
    }
}

header{
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url(../img/NoruegaWall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    h1{
        /* position: relative; */
        clear: both;
        text-align: center;
        color: azure;
    }
}
main {
    /* overflow: auto; */
    margin-left: 5%;
    margin-right: 5%;
}

section {
    width: 100%;
    float: left;
    padding-right: 3rem; 
    h2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

footer {
    margin-top: 3rem;
    border-top: 1px solid silver;
    text-align: center;
    padding-top: 2rem;
    address{
        margin-top: 0;
    }
    p {
        margin-top: 0;
    }
}