*{
    box-sizing: border-box;
}
body, h1, h2, h3, figure, ul, li{
    margin: 0;
    padding: 0;
}
nav{
    a{
        text-decoration: none;
        color: inherit;
    }
}

/*MediaQuery 0 */

.noru_wrapper{ /* creado para no petar el body de cosas, cuantas menos tenga mejor y se lo aplicamos en class a lo que queramos */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

$color_main: rgb(236, 236, 236);
body{
   background-color: $color_main;
   /*width: 95%;
   margin-left: auto;  los margin auto funcionan si tienen width si no no hace nada 
   margin-right: auto;
   **Está colocado en el noru_wrapper
   */

}
h1, h2{
    margin: 0.5rem;
}

img{
    /*width: 100%;  Para que ocupen el 100 de la pantalla */
    max-width: 100%;
    display:block;
    margin:auto;
}
article{
    .imgnorua, .imgnorub{
        padding: left;
    }
    .imgnoreco{
        max-width: 75%;
    }
}

header{
    display: flex;  /*Menú hamburguesa - pero lo veo igual todo el rato*/ 
    justify-content: space-between;
    align-items: center;
    h1{
        margin: 0.5rem;
        padding: 0.5rem;
        text-align: left;
        font-size: 4rem;
        color: crimson;
    }
    .navegador {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: midnightblue;
            li {
                float: left;
                a{
                display: block;
                color: white;
                text-align: center;
                padding: 0.8rem 1rem;
                text-decoration: none;
                }
                a:hover {
                    background-color: crimson;
                    }
            }   
        }
    }   
}

/*MediaQuery 1 */
@media screen and (min-width: 380px){
    .main_wrapper{ 
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        max-width: 100%;
        display:block;
        margin:auto;
    }

}


/*MediaQuery 2 */
@media screen and (min-width: 850px){
    .main_wrapper{ 
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px; /* para que no aumente más por que por ejemplo no se puede leer bien en pantalla gigante */
    }

}





/* ----------------------------- */
