*{
    box-sizing: border-box;
}
body, h1, h2, h3, figure, ul, li{
    margin: 0;
    padding: 0;
}
nav{
    a{
        text-decoration: none;
        color: inherit;
    }
}

/*MediaQuery 0 */

$color_main: rgb(236, 236, 236);
body{
   background-color: $color_main;
   /*width: 95%;
   margin-left: auto;  los margin auto funcionan si tienen width si no no hace nada 
   margin-right: auto;
   **Está colocado en el noru_wrapper
   */

}
h1, h2{
    margin: 0.5rem;
    color: crimson;
}

.hamburguesa{
    max-width: 50px;
    max-height: 50px;
    float: right;
}

#topmenu{
    display: none;
}
#botmenu{
    visibility: visible;
    margin-top: 1rem;
    text-align: center;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: midnightblue;
            li {
                float: left;
                a{
                display: block;
                color: white;
                padding: 0.8rem 1rem;
                text-decoration: none;
                }
                a:hover {
                    background-color: crimson;
                }
                }
            }
        }

/*MediaQuery 1 */
@media screen and (min-width: 525px){

#topmenu{
    visibility: visible;
    margin-top: 1rem;
    text-align: center;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: midnightblue;
            li {
                float: left;
                a{
                display: block;
                color: white;
                padding: 0.8rem 1rem;
                text-decoration: none;
                }
                a:hover {
                    background-color: crimson;
                }
                }
            }
        }

#botmenu{
    display: none;
    }

.hamburguesa{
    display: none;
    }

}


/*MediaQuery 2 */
@media screen and (min-width: 850px){

}