*{
    box-sizing: border-box;
}

/*
img{
   max-width: 100%;  /* --> width: 100% ocupa el 100% del monitor y pixela 
}                      --> max-width: 100%; nunca se hace más grande que el máx de la img pero no es responsive 
*/

div{
    width: 20%;
}
img{
    width: 100%;
    max-width: 100%; /* De esta forma se puede hacer un responsive por que se queda sin pixelar */
}

section.dragones{ /* UN BLOQUE SIEMPRE OCUPA EL 100% DEL ESPACIO Y SI DIGO QUE OCUPE MES DA IGUAL, RESERVA EL 100% DEL ESPACIO */
    border: 1px solid; /* Ejemplo, para verlo hay que poner en comment section.dragones div{float: left; */                                                                      
    width: 80%; /* CUANDO 2ALGO" TIENE HIJOS Y FLOTAN, COLAPSAN */
    overflow: auto; /* Para solucionar el colapso de imágenes */
}

Section.dragones::after{
    content: ""; /* hay que poner content simepre auqnue no lleve nada */
    display: block;
    clear: both;
}

section.dragones div{
    float: left;
}

/* section.fondos{ SE SUSTITUYE POR EL SECTION.FONDOS::AFTER
    background-image: url(./Dragon-PNG-Pic.png);
    opacity: 0.5;  la letra también hereda la opacidad 
}*/

section.fondos{
    position: relative; /* esto está puesto para que section.fondos::after funcione y no empiece desde 0.0 */
}

section.fondos::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "Estoy aquí...";
    background-image: url(./Gold_Dragon.png);
    opacity: 0.35;
}

/*section.fondos2{
    background-color: darkgoldenrod;  Esto se pone al inicio por si la imagen falla, el texto puede leerse 
    background-image: url(./Gold_Dragon.png);
    color: aliceblue;
}*/

section.fondos2{
    padding: 1rem;
    background-image: url(./Arena.jpg);
    background-repeat: repeat-y;
    color: black;
}

section.fondos2 div{
    border: 1px solid;
    width: 80rem;
    height: 80rem;
    background-image: url(./arena7.gif);
    background-repeat: no-repeat;
    color: black;
}