*{
    box-sizing: border-box;
}

body{
    background-color: brown;
    color: bisque;
    
}

h1{
    font-family: 'Lobster', cursive;
}

@media screen and (min-width:480px){

    h1{
        font-size: 2.3rem;
    }

    .wrapper_flex{
        display: flex;
        section{
            flex: 0 1 75%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        aside{
            flex: 0 1 25%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    body{
        background-color: aquamarine;
        color: darkblue;
    }
    
}

@media screen and (min-width:760px){

    h1{
        font-size: 3.4rem;
    }

    body{
        background-color: darksalmon;
        color: crimson;
    }
    .wrapper_colums{
       /*  column-count: 2;
        column-gap: 2rem; */
        display: flex;
    }
    
}

footer{
    border-top: 1px solid;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
}