/* body{
    margin: 2rem;
    background-color: bisque;
}
header h1{
    color: brown;
}
header p{
    font-size: 1.5rem;
} */

/*  CSS

    SASS */
*{
    box-sizing: border-box;
}
body{
    margin: 2rem;
    padding: 2rem;
    background-color: bisque;
    @import '_header.scss';
    /* header{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        @import '_header2.scss'; 
        h1{color: brown;
    margin-bottom: 0.3rem;
}
        p{font-size: 1.5rem;
        margin-top: 0;
        }
    }*/
}
//Este comentario es comentario SASS y no lo compila a CSS

footer{
    address{
        p{margin-top: 0;
        margin-bottom: 0;
        color: red;
        }
    }
    >p{color: lawngreen;
    }
}